body{
    background-color: rgb(68, 109, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}
.container{
    background-color: rgb(48, 44, 44);
    height: 200px;
    width: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    flex-direction: column;
}
.circle{
    background-color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.circle.red{
    background-color: red;
}
.circle.yellow{
    background-color: yellow;
}
.circle.green{
    background-color: green;
}